In [1]:
import sys
import re
import os
import pandas as pd
import numpy as np
sys.path.append("../automaterialsdata/")

In [2]:
from property_comparison import OPV_PROPERTIES, EXAM_TYPE, compare_properties

In [3]:
def isfloat(s):
    try:
        return bool(re.match(u'^[−‐]?\d+(\.\d*)?',s))
    except:
        return False

def tofloat(s):
    return float(re.match(u'^[−‐]?\d+(\.\d*)?', s).group(0).replace('−', '').replace('‐', ''))
    
def count_valid_properties(data_list):
    return np.array([ int(isfloat(i)) for i in data_list])

In [4]:
# as VOC, JSC, FF, PCE
all_properties = pd.read_csv('../data/RSC_HTML_Table_Extractor_Reuslts.csv',encoding='utf-8')
all_properties = pd.concat([all_properties, 
                            pd.read_csv('../data/Wiley_HTML_Table_Extractor_Reuslts.csv',encoding='utf-8')],
                           sort=False, ignore_index=True)                            
all_properties = pd.concat([all_properties, 
                            pd.read_csv('../data/Elsevier_XMLs_Table_Extractor_Reuslts.csv',encoding='utf-8')],
                           sort=False, ignore_index=True)


counts = np.zeros(4)
acc_counts = np.zeros(4)
all_four_properties_df = pd.DataFrame([], columns = all_properties.columns)
all_four_properties_subset = {}
paper_ids  = set()

for i in range(all_properties.shape[0]):
    record = all_properties.iloc[i, :].tolist()
    counts += count_valid_properties(record[4:])

    paper_ids.add(record[0].split('_')[0])
    if (not any([isfloat(x) for x in record[4:]])): continue
            
    #if (type(record[1]) == str):
    #    valuekey = record[0].split('_')[0] + record[1]
    #else:
    valuekey = record[0]
    if valuekey not in all_four_properties_subset.keys():
        all_four_properties_subset[valuekey] = record.copy()
    elif tofloat(record[4]) > tofloat(all_four_properties_subset[valuekey][4]):
        all_four_properties_subset[valuekey] = record.copy()
        
    #all_four_properties_subset.append(all([isfloat(x) for x in record[4:]]))

temp_df = pd.DataFrame(all_four_properties_subset.values(), columns = all_properties.columns)
all_four_properties_df = pd.concat([all_four_properties_df,temp_df], sort=False,ignore_index=True)
    
    
counts

array([1306., 1277., 1361., 1252.])

In [5]:
all_four_properties_df.shape

(1389, 8)

In [6]:
len(paper_ids)

216

In [7]:
data_path = '../data/CDE_XML_HTML_Results.csv'
data = pd.read_csv(data_path, encoding="UTF-8")

saeki_path = '../../Saekis_manual_dataset.csv'
saeki_cols = ['ID No.','Nickname', 'Ref. No',  'Voc', 'Jsc', 'FF', 'PCE_max']
saeki = pd.read_csv(saeki_path, encoding="UTF-8", usecols=saeki_cols)

In [8]:
subset_ids = [x[1:] in paper_ids for x in saeki['Ref. No']]
saeki_subset = saeki.loc[subset_ids]

In [9]:
saeki_subset.shape

(482, 7)

In [10]:
saeki.shape

(1203, 7)

In [11]:
saeki_subset.iloc[0, 3:]

PCE_max     7.64
Voc         0.79
Jsc        14.02
FF         0.691
Name: 16, dtype: object

In [12]:
all_four_properties_df.iloc[0, [7, 4, 5, 6]]

PCE (%)           4.27/4.12
V OC (V)               0.76
J SC (mA/cm-2)         9.77
FF (%)                 0.58
Name: 0, dtype: object

In [14]:
saeki_cols = ['PCE_max', 'Voc', 'Jsc', 'FF']
errors = [0.2, 0.02, 0.5, 0.01]
total_miss = 0
total_miss_individual = np.zeros(4)

for paper_id in paper_ids:
    print("Compare Results from ", paper_id)
    tmp_result = [paper_id]
    
    saeki_result = saeki[saeki['Ref. No'] == 'S'+ str(paper_id)]
    
    te_subset = np.array([ x.split('_')[0] == paper_id for x in all_four_properties_df['Unnamed: 0'] ])
    
    te_result = all_four_properties_df[te_subset]
    
    miss_count = saeki_result.shape[0]
    miss_count_2 = np.ones(4) * miss_count
    count_not_full_but_individual_all_match = 0
    
    #print(saeki_result)
    #print(te_result)
    for i in range(saeki_result.shape[0]):
        
        sr = np.array(saeki_result.iloc[i, 3:].to_list())
        full_match = False
        
        # find full match
        for j in range(te_result.shape[0]):
            te_raw = te_result.iloc[j, [7, 4, 5, 6]].to_list()
            if all([isfloat(x) for x in te_raw_list]):

                te = np.array([tofloat(x) for x in te_raw])

                if te[1] > 100: te[1] /= 1000 #VOC
                if te[3]  > 1: te[3] /= 100    #FF
                #if te[0]  > 1: te[0] /= 100  #PCE   
                #print(te, sr)
                if all([abs(sr[k] - te[k]) <= errors[k] for k in range(4)]):
                    miss_count -= 1
                    miss_count_2 -=1
                    full_match = True
                    break
                
        if (not full_match):
            sr_found = np.array([False, False, False, False])
            #match individual ones
            for j in range(te_result.shape[0]):
                
                if all(sr_found): 
                    count_not_full_but_individual_all_match += 1
                    break
                
                te_raw_list  = te_result.iloc[j, [7, 4, 5, 6]].to_list()
                
                for k in range(4):
                    if isfloat(
                    
                    
                    if not sr_found[k] and isfloat(te_raw[k]):
                        te = float(te_raw[k])
                        
                        if k == 1 and te > 100: te /= 1000 #VOC
                        if k == 3 and te > 1: te /= 100    #FF
                        
                        if abs(sr[k] - te[k]) <= errors[k]:
                            sr_found[k] = True
                            miss_count_2[k] -= 1

    total_miss += miss_count
    total_miss_individual += miss_count_2
    if miss_count > 0 : print("- Miss Count:", miss_count)

Compare Results from  254
['3.49', '0.73', '7.82', '61.1']
['4.25', '0.74', '9.79', '58.2']
['3.49', '0.73', '7.82', '61.1']
['4.25', '0.74', '9.79', '58.2']
['3.71', '0.68', '9.40', '58.3']
['4.86', '0.70', '11.10', '62.5']
Compare Results from  342
[nan, nan, nan, '2 × 103']

TypeError: expected string or bytes-like object

In [40]:
total_miss

66

In [41]:
total_miss_individual

array([56., 43., 45., 46.])

In [42]:
count_not_full_but_individual_all_match

0

In [28]:
paper_id = '169'

saeki_result = saeki[saeki['Ref. No'] == 'S'+ str(paper_id)]
te_subset = np.array([ x.split('_')[0] == paper_id for x in all_four_properties_df['Unnamed: 0'] ])
te_result = all_four_properties_df[te_subset]
te_subset = np.array([ x.split('_')[0] == paper_id for x in all_properties['Unnamed: 0'] ])
te_result2 = all_properties[te_subset]

In [29]:
saeki_result

     ID No.     Nickname Ref. No  PCE_max   Voc   Jsc     FF
410     411   PBDT(O)-T1    S169     4.01  0.83   9.6  0.495
411     412   PBDT(S)-T1    S169     7.48  0.90  12.3  0.711
412     413  PBDT(Se)-T1    S169     8.52  0.92  13.1  0.721

In [30]:
te_result

,Unnamed: 0,0,1,2,V OC (V),J SC (mA/cm-2),FF (%),PCE (%)
161,169_6_0,PBDT(O)-T1:PC70BM,NaN,NaN,0.83 ± 0.01,9.6 ± 0.2 (9.1),49.5 ± 0.6,4.0 ± 0.1
162,169_6_1,PBDT(S)-T1:PC70BM,NaN,NaN,0.89 ± 0.01,12.2 ± 0.1 (12.1),67.7 ± 0.4,7.3 ± 0.1
163,169_6_2,PBDT(Se)-T1:PC70BM,NaN,NaN,0.91 ± 0.01,13.0 ± 0.1 (12.6),71.7 ± 0.4,8.4 ± 0.1